<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Start New Community</title>
    <style>
    .error{
      color:red;
      }
  </style>
</head>
<body>
<h1>Start Community - ComUnity is Growing</h1>
<hr/>

<p class = "error" th:if="${param.taken}">Name Taken</p>

<form method="POST" th:action="@{/com/new}" th:object="${registration}">
    <input type="text" name="name" placeholder="Community Name (Unique)" th:field="*{name}"/>
    <span th:if="${#fields.hasErrors('name')}"
          th:class="error"
          th:errors = "*{name}">Error</span>
    <br/>
    <input type="descrition" name="description" placeholder="Few words about community" th:field="*{description}"/>
    <span th:if="${#fields.hasErrors('description')}"
          th:class="error"
          th:errors = "*{description}">Error</span>
    <br/>

    <input type="submit" name="submit" value="Register">
</form>

<form method="get" th:action="@{/}">
    <input type="submit" value="Cancel">
</form>

</body>
</html>
