<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Home</title>
</head>
<body>
<h1>Communities at present:</h1>
<hr/>
<br/>

<div th:each="community : ${communities}">
    <h3>Name: <span th:text="${community.name}"/></h3>
    <h4>Description: <span th:text="${community.description}"/></h4>
    <h5>Type: <span th:text="${community.type}"/></h5>
    <hr/>
    <br/>
</div>
<form action="@{/home}" method="POST">
    <input type="submit" value="Home">
</form>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout">
</form>
</body>
</html>
