<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Home</title>
</head>
<body>
<h1>Hello, <span sec:authentication="principal.username"/></h1>
<hr/>
<br/>

<h1 th:text="${community.name}"></h1>
<h2 th:text="${community.description}"></h2>
<h2>Created By /mem/<span th:text="${community.sheriff.username}"/></h2>
<hr/><br>

<div th:if="${access.post_access}">
  <a th:href="@{'/com/' + ${community.name} + '/post'}">Add post</a>
</div>
<div th:if="${access.join_access}">
  <a th:href="@{'/com/' + ${community.name} + '/join'}">Join</a>
</div>
<div th:if="${access.sheriff}">
  <a th:href="@{'/com/' + ${community.name} + '/monitor'}">Monitor</a>
</div>

<h3>Posts: </h3>
<div th:each="post : ${posts}">
  <h4 th:text="${post.title}">Title</h4>
  <h4 th:text="${post.content}">Content</h4>
  <h5>Posted by /mem/<span th:text="${post.author.username}"/></h5>
  <br/><hr/>
</div>


<br><hr/>

<form th:action="@{/logout}" method="POST">
  <input type="submit" value="Logout">
</form>
</body>
</html>
